:root {
    --font-text: 'Quicksand', sans-serif;
    --color: #FF8C8A;
    --hover-color: #FA7876;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav {
    width: 85vw;
    display: flex;
    justify-content: space-between;
}

nav a {
    font-family: var(--font-text);
    text-decoration: none;
    color: gray;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text {
    margin-right: 40px;
    margin-left: 40px;
    width: 60%;
}

.principal {
    margin-bottom: 0px;
    font-weight: bold;
    font-family: var(--font-text);
}

.description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--font-text);
}


.principal {
    max-width: 450px;
    font-size: 3em;
}

.description {
    max-width: 660px;    
    font-size: 1.3em;
    color: gray;
}

.text-main button {
    border: 0;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.text-footer button {
    
    border: 0;
    width: 150px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: var(--color);
    
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.text-footer button:hover {
    cursor: pointer;
    transition-duration: .5s;
    background-color: var(--hover-color);
}

.text-footer p {
    color: gray;
    font-family: var(--font-text);
}

aside {
    width: 40%;
}

.img {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.user-pfp {
    margin-left: 10px;
    padding: 2px;
    display: flex;
}