/*---------CORES-E-FONTES-GERAIS-------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
    --principal-color: #fff;
    --secondary-color: #3b566d;
    --menu-line-color: #333;
    --default-font: 'Montserrat', sans-serif;;
}

/*--------CONFIGURAÇÕES-GERAIS--------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}

footer, header {
    padding: 30px 60px;
} 

/*------------------------------------*/

/*--------------HEADER----------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header .logo {
    font-size: 2.5em;
    font-weight: 900;
    color: var(--principal-color);
}

header .menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header .menu-line {
    background-color: var(--menu-line-color);
    height: 4px;
}

/*------------------------------------*/

/*--------------SECTION----------------*/

section.container {
    display: flex;
    height: 100vh;
}

section .left-side {
    padding: 0px 60px;
}

section.container .left-side {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
}

section.container .left-side .info p, a {
    color: var(--principal-color);
}

section.container .left-side .info a {
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 10px;

    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;

    color: var(--secondary-color);
    background-color: var(--principal-color);
    box-shadow: 0px 0px 7px var(--menu-line-color);
}

section.container .left-side .info a.light {
    margin-left: 10px;
    color: var(--principal-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px var(--menu-line-color);
}

section.container .left-side .info a:hover{
    text-decoration: underline;
    transition-duration: .3s;
    opacity: 0.7;
}

section.container .left-side .role p,
section.container .left-side .name p {
    font-weight: 700;
    text-transform: uppercase;
}

section.container .left-side .role p {
    font-size: 1.2em;
}

section.container .left-side .name p {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 30px;
}

section.container .right-side {
    flex: 1;
    background: url(/assets/img/hero.jpg) top/cover no-repeat;
}


/*------------------------------------*/

/*--------------FOOTER----------------*/

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: .9em;
    color: var(--principal-color);
}

/*------------------------------------*/