/*
Telas menores: @media screen and (max-width: 600px)
Celulares: @media screen and (min-width: 600px) and (max-width: 768px)
Tablet: @media screen and (min-width: 768px) and (max-width: 992px)
Desktop: @media screen and (min-width: 992px and (max-width: 1200px)
Telas grandes: @media screen and (min-width: 1200px)
*/

@media screen and (min-width: 1100px) {
    
    .section-prices-card:hover {
        transform: scale(1.1);
        transition-duration: .5s;
        box-shadow: 0px 10px 35px -22px var(--border-color);
    }

    .section-prices-card:nth-child(1) {
        margin: 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px) {

    .logo {
        margin-left: 40px;
    }

    .menu-open {
        width: 40px;
        margin-right: 30px;
        display: block;
    }

    nav {
        display: none;
        height: calc(100vh - 100px);
        width: 70vw;
        z-index: 99;
        right: 0;
        top: 100px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li a {
        font-weight: bold;
        height: 80px;
        font-size: 1.2em;
        margin-left: 65px;
        border: 0;
    }

    nav ul li a:hover, nav .active a {
        color: var(--base-color);
        transition-duration: .5s;
    }

    .section-about_us {
        flex-direction: column;
    }
    
    .section-about_us--left {
        margin: 0px 30px 30px 30px;
    }

    .section-about_us--right {
        margin-left: 20%;
    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;

    }

    .section-service:nth-child(1) {
        border-left: 0;
    }

    .section-team {
        max-width: 580px;
    }

    .section-happy-clients {
        max-width: 600px;
    }

    .section-happy-clients .sliders {
        width: 2100px;
    }

    .section-happy-clients .slide {
        width: 600px;
    }

    .section-images-img img {
        width: 80px;
        margin-left: 30px;
    }

    .section-prices-cards {
        flex-direction: column;
    }

    .section-prices-card {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .section-premium {
        max-width: 600px;
    }

    .section-premium .sliders {
        width: 2100px;
    }

    .section-premium .slide {
        width: 600px;
    }

    .section-premium .slide-area {
        flex-direction: column;
    }

    .premium-product-image {
        margin: 0;
        margin-bottom: 30px;
        width: 310px;
    }

    .section-some-facts {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin-bottom: 10px;
    }

    .tell-about-share {
        margin-right: 40px;
    }

    .section-tell-about {
        max-width: 670px;
    }

    .image-share {
        margin-right: 30px;
    }

    .section-map-area {
        width: auto;
    }

    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map-info {
        width: auto;
    }

    .section-map-info-item {
        margin-bottom: 20px;
    }

    .section-map-info-item:nth-child(5) {
        margin-bottom: 0;
    }

    .footer-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-social,
    .footer-text {
        width: 100%;
        margin-right: 0;
    }
    
    .footer-social {
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-social-icons {
        margin-bottom: 10px
    }

    .footer-text {
        margin: 0;
        width: 70%;
        margin-bottom: 30px;
    }

    .footer-text p {
        font-size: .9em;
    }

    .footer-subscribe {
        width: 70%;
    }

}