:root {

    --base-color: #B28756;
    --button-hover-color: #886843;
    --hover-color: #d3d3d3;
    --border-color: #333;
    --border-color2: #CFCFCF;

    --light-background-color: #F7F7F7; 

    --default-color: #ffffff;
    --default-color-2:#000000;
    --filter-color: rgba(0, 0, 0, 0.8);
    --filter-color2:rgba(0, 0, 0, 0.5);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* LAYOUT PADRÃO */

body {
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: var(--default-color-2);
    color: var(--default-color);
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------ */

.logo {
    width: 100px;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 90px;
    height: 80px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav ul,
nav ul li {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color: var(--default-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;

    display: flex;
    align-items: center;
    height: 100px;
    padding: 0px 10px 0px 10px;
    border-bottom: 5px solid var(--default-color-2);
}

nav ul li a:hover, 
nav .active a {
    color: var(--hover-color);
    transition-duration: .5s;
    border-bottom: 5px solid var(--base-color);
}

/* ------------------------------------------------------ */

.banner {
    height: calc(100vh - 100px);
    background: var(--filter-color) url(/media/bg.jpg) no-repeat bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: var(--filter-color);
}

.banner .slide-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--default-color);
}

/* ------------------------------------------------------ */

.banner h1 {
    font-weight: bold;
    font-size: 3.5em;
}

.banner h1 span {
    color: var(--base-color);
}

.banner p {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;

    margin-top: 20px;
    margin-bottom: 40px;
}

.banner a,
.button {
    display: block;
    text-align: center;

    border: 0;
    border-radius: 30px;
    padding: 15px 40px 15px 40px;

    background-color: var(--base-color);
    color: var(--default-color);
    font-size: .8em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.banner a:hover,
.button:hover {
    background-color: var(--button-hover-color);
    transition-duration: .5s;
}

.banner .sliders-pointers {
    width: 100%;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -60px;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--base-color);
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: var(--base-color);
}

/* ------------------------------------------------------ */

section.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .section-title {
    font-size: 2em;
}

.default .section-desc {
    font-size: 1em;
    color: var(--hover-color);
    margin-top: 15px;
    margin-bottom: 40px;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
}

/* ------------------------------------------------------ */

.light {
    background-color: var(--default-color);
}

.light .section-title,
.light .section-body {
    color: var(--default-color-2);
}

.dark {
    background-color: var(--default-color-2);
}

.dark .section-title,
.dark .section-body {
    color: var(--default-color);
}

/* ------------------------------------------------------ */


                  /* ÁREAS ESPECÍFICAS */
                

/* ------------------------------------------------------ */

/* -------------------------SECTION ABOUT US----------------------------- */

.section-about_us {
    display: flex;
}

.section-about_us--left {
    flex: 1;
}

.section-about_us--left p {
    line-height: 1.8;
}

.section-about_us--right {
    width: 520px;
}

.section-about_us--right img {
    width: 480px;
    text-align: center;
    box-shadow: 0px 5px 10px #333;
}

.button {
    display: inline-block;
    margin-top: 20px;
}

/* --------------------------------------------------------------------- */

/* -------------------------SECTION SERVICES----------------------------- */

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--border-color);
    padding: 20px;
}

.section-service:nth-child(1) {
    border-left: 1px solid var(--border-color);
}

.section-service h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1,3em;
}

.section-service p {
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--hover-color);
}

/* --------------------------------------------------------------------- */

/* -------------------------SECTION PROJECTS----------------------------- */

.section-projects {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Mudança para a direção da coluna */
    align-items: center; /* Centralizar itens na direção da coluna */
}

.section-project-filters {
    background-color: var(--light-background-color);
    border: 1px solid var(--hover-color);
    display: inline-block;
    border-radius: 30px;
    padding: 0 20px;
}

.section-project-filters ul li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    
    font-weight: 600;
    font-size: .8em;
    padding: 15px;
    
    color: var(--border-color);
    border-right: 1px solid var(--hover-color);
    border-bottom: 3px solid var(--light-background-color);
}

.section-project-filters ul li:nth-child(6) {
    border-right:0;
}

.section-project-filters ul li:hover,
.section-project-filters ul li.active {
    transition-duration: .5s;
    border-bottom: 3px solid var(--base-color);
}

.section-project-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-project-photo {
    width: 280px;
}
.section-projects-photo-area {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects-photo-area img {
    width: inherit;
    height: inherit;
}

.section-projects-photo-info {
    position: absolute;
    width: inherit;
    height: inherit;
    
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--default-color);
    
    background-color: var(--filter-color2);
}

.section-projects-photo-info h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-projects-photo-area:hover .section-projects-photo-info {
    display: flex;
}

.section-projects-photo-info.active {
    display: flex;
}

/* --------------------------------------------------------------------- */

/* -------------------------SECTION TEAM----------------------------- */


section.default.dark.bg-team {
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--border-color) url(/media/bg.jpg) no-repeat center;
}

.section-team-area {
    background-color: var(--filter-color);
    padding: 50px 0px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: var(--default-color);
    margin-right: 20px;
}

.section-team .slide-area {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--default-color-2);
}

.section-team-area .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--base-color);
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.section-team .pointer.active {
    background-color: var(--base-color);
}

.section-team-avatar {
    width: 150px;
    height: auto;
}

.section-team-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 30px;
}

.section-team-role {
    font-weight: 600;
    font-size: .8em;
    margin-top: 5px;
    color: var(--border-color);
}

.section-team-social {
    display: flex;
    margin-top: 20px;
}

.section-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 13px;
    background-color: var(--hover-color);
}

.section-team-social a:hover {
    background-color: var(--base-color);
    transition-duration: .5s;
}

/* --------------------------------------------------------------------- */

/* -------------------------SECTION HAPPY CLIENTS----------------------------- */

.section-happy-clients {
    overflow: hidden;
    max-width: 850px;
    margin: auto;
}

.section-happy-clients .sliders {
    width: 400vw;
    height: 100%;
}

.section-happy-clients .slide {
    width: 850px;
    height: 100%;
    display: inline-block;
    background-color: var(--default-color);
}

.section-happy-clients .slide-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--default-color-2);
}

.happy-client-avatar {
    margin-top: 30px;
    margin-bottom: 25px;
    width: 130px;
}

.happy-client-name {
    margin-bottom: 10px;
}

.happy-client-name h5 {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--default-color-2);
}

.happy-client-role {
    margin-bottom: 30px;
}

.happy-client-role p {
    font-size: .9em;
    color: var(--default-color-2);
    font-weight: 600;

}

.happy-client-testimony-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy-client-testimony-info img {
    margin: 0px 0px 15px 0px;
}

.happy-client-testimony-info p {
    color: var(--border-color);
    text-align: center;
}

.section-happy-clients .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.section-happy-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--base-color);
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.section-happy-clients .pointer.active {
    background-color: var(--base-color);
}

/* --------------------------------------------------------------------- */

/* -------------------------SECTION IMAGES----------------------------- */

.bg-images {
    background-color: var(--light-background-color-color);
    border-top: 1px solid var(--border-color2);
    border-bottom: 1px solid var(--border-color2);
}

.section-images {
    display: flex;
    justify-content: center;
}
.section-images-img {
    display: flex;
    align-items: center;
}

.section-images-img img {
    width: 80px;
    margin-left: 80px;
}

.section-images-img img:nth-child(1) {
    margin-left: 0;
}

/* --------------------------------------------------------------------- */