/*
Telas menores: @media screen and (max-width: 600px)
Celulares: @media screen and (min-width: 600px) and (max-width: 768px)
Tablet: @media screen and (min-width: 768px) and (max-width: 992px)
Desktop: @media screen and (min-width: 992px and (max-width: 1200px)
Telas grandes: @media screen and (min-width: 1200px)
*/

/* TELAS MENORES */

@media screen and (max-width: 600px) {

    nav ul {
        justify-content: center;
    }

    .logo-and-search, .other-infos  {
        max-width: 90%;
    }

    .keyboard {
        display: none;
    }

    .interact img {
        max-width: 25%;
    }

    .other-infos button {
        padding: 10px;
    }

    footer {
        display: none;
    }

}