header {
    width: 100vw;
    min-height: 5vh;
}

nav {
    margin: 20px;
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul li a {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.square-btn, .pfp {
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
}

.pfp {
    width: 32px;
    border-radius: 25px;
}

section {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-and-search {
    height: 50%;
    max-width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.search-box {
    display: flex;
    border: 2px solid var(--input-color);
    border-radius: 20px;
    padding: 5px;
}

.input {
    width: 80%;
} 

.input input {
    border: 0;
    width: 100%;
    height: 90%;
    padding-left: 10px;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.interact {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    overflow-y: hidden;
}

.interact img {
    margin-right: 10px;
    padding: 5px;
    width: 20px;
    cursor: pointer;
}

.other-infos {
    height: 50%;
    
}

.other-infos button {
    border: 0;
    margin-right: 20px;
    padding: 15px;

    cursor: pointer;
    font-family: var(--text-font);
    font-weight: bold;
    color: var(--text-color);

}

.other-infos button:hover {
    background-color: var(--text-color);
    transition-duration: .5s;
    color: white;
}

footer {
    width: 100vw;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.info1, .info2 {
    display: flex;
}

.info1 a, .info2 a {
    font-size: .8em;
}

.info1 a {
    margin-right: 20px;
}

.info2 a {
    margin-left: 20px;
}